<h2>Add a Plant</h2>
<form method="post">
    <input name="plant_id" placeholder="Unique ID"><br>
    <input name="name" placeholder="Name"><br>
    <input name="scientific_name" placeholder="Scientific Name"><br>
    <textarea name="description" placeholder="Description"></textarea><br>
    <input name="price" placeholder="Price"><br>
    <input name="initial_price" placeholder="Initial Price"><br>
    <input name="image_url" placeholder="Image URL"><br>
    <button type="submit">Add Plant</button>
</form>
